{% extends 'base.html' %}

{% block content %}

<h2 class="text-2xl font-bold mb-4">Shortest Route Between Airports</h2>

<form method="post" class="space-y-4">
    {% csrf_token %}

    {{ form.as_p }}

    <button class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700">
        Find Shortest
    </button>
</form>

{% if result %}
{% if result.path %}
<div class="mt-6 p-4 bg-purple-100 rounded">
    <h3 class="font-semibold">Shortest path (distance {{ result.distance }} km):</h3>
    <ul>
        <li><strong>Start:</strong> {{ result.start }}</li>
        {% for step in result.path %}
        <li>{{ step.route.source.code }} → {{ step.route.destination.code }} ({{ step.route.distance_km }} km)</li>
        {% endfor %}
        <li><strong>End:</strong> {{ result.end }}</li>
    </ul>
</div>
{% else %}
<p class="text-red-600 mt-4 ">No route between selected airports</p>
{% endif %}{% elif form.is_valid %}
<p class="text-red-600 mt-4">No route between selected airports</p>{% endif %}

{% endblock %}